.wrapper {
  min-width: 15.5rem;
  max-width: 21.5rem;
  width: 100%;
  height: 35rem;
  background-color: lightgray;

  .display {
    width: 100%;
    height: 6.25rem;
    font-size: 1.5em;

    p {
      margin: 0;
      padding: 0.4em;
      text-align: right;
    }
  }

  .controls {
    height: calc(35rem - 6.25rem);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.063rem;

    button {
      border-radius: 0;
      border: none;
      transition: background-color 300ms ease-in, color 300ms ease-in;

      &:hover {
        background-color: #808080;
        color: white;
      }
    }

    #equal-btn {
      grid-column-start: span 2;
    }
  }
}
