<div class="wrapper">
  <div class="display">
    <p class="current-calc">
      {{ leftOperand }} {{ operator }} {{ rightOperand }}
    </p>
    <p class="result">{{ result }}</p>
  </div>
  <div class="controls">
    <!-- 
    MS, MR, C, /
    9, 8, 7, *
    6, 5, 4, -
    3, 2, 1, +
    ., 0, = 
    -->

    <button (click)="onMemorySave()">MS</button>
    <button (click)="onMemoryLoad()">MR</button>
    <button (click)="onClear()" value="C">C</button>
    <button (click)="onOperatorClick($event)" value="/">/</button>

    <button (click)="onNumberClick($event)" value="7">7</button>
    <button (click)="onNumberClick($event)" value="8">8</button>
    <button (click)="onNumberClick($event)" value="9">9</button>
    <button (click)="onOperatorClick($event)" value="*">*</button>

    <button (click)="onNumberClick($event)" value="4">4</button>
    <button (click)="onNumberClick($event)" value="5">5</button>
    <button (click)="onNumberClick($event)" value="6">6</button>
    <button (click)="onOperatorClick($event)" value="-">-</button>

    <button (click)="onNumberClick($event)" value="1">1</button>
    <button (click)="onNumberClick($event)" value="2">2</button>
    <button (click)="onNumberClick($event)" value="3">3</button>
    <button (click)="onOperatorClick($event)" value="+">+</button>

    <button (click)="onDecimalClick()">.</button>
    <button (click)="onNumberClick($event)" value="0">0</button>
    <button id="equal-btn" class="equal-btn" (click)="onCalculate()">=</button>
  </div>
</div>
