/* You can add global styles to this file, and also import other style files */
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    // background-color: rgba(211, 211, 211, 0.1);
    background-color: white;
}
